table.user-list-table {
    width: 40%;
    text-align: center;
    border: 1px solid #444444;
    border-collapse: collapse;
}
table.user-list-table th, table.user-list-table td {
    border: 1px solid #444444;
}