<<<<<<< HEAD
header{
	background-color:rgba(0, 0, 0, 0.5);
	color:white;
	position:fixed;
	width:100%;
	height:10vh;
	top:0;
	overflow:hidden;
}
.body{
	margin-top:10vh;
	height: 85vh;
	overflow:auto;
}
footer{
	background-color:rgba(0, 0, 0, 0.5);
	color:white;
	height: 5vh;
	overflow:hidden;
	display: flex;
	align-items: center;
	justify-content: center;	
}

.nav{
	height:100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap:5vw
}

.nav>div{
	width: 5vw;
=======
table.user-list-table {
    width: 40%;
    text-align: center;
    border: 1px solid #444444;
    border-collapse: collapse;
}
table.user-list-table th, table.user-list-table td {
    border: 1px solid #444444;
>>>>>>> a54f255c03d116f7eeed24ecd9d64347fc485b12
}