<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<configuration debug="true">
    <!-- Appenders -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>%d %5p [%c] %m%n</Pattern>
        </encoder>
    </appender>

    <appender name="console-infolog" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>%d %5p %m%n</Pattern>
        </encoder>
    </appender>

    <!-- dev 로거 -->
    <springProfile name="dev">
        <logger name="info.jongwoo.Boot_pj_01" level="DEBUG" appender-ref="console"/>
        <logger name="jdbc.sqlonly" level="INFO" appender-ref="console-infolog"/>
        <logger name="jdbc.resultsettable" level="INFO" appender-ref="console-infolog"/>
        <logger name="org.springframework" level="error"/>
        <logger name="org.springframework.jdbc" level="error"/>
    </springProfile>

    <!-- production 로거 -->
    <!--<springProfile name="production">
        <logger name="kr.co.mkyu" level="INFO" appender-ref="console"/>
        <logger name="jdbc.sqlonly" level="INFO" appender-ref="console-infolog"/>
        <logger name="org.springframework" level="error"/>
        <logger name="org.springframework.jdbc" level="error"/>
    </springProfile>-->


    <!-- 루트 로거 -->
    <root level="error">
        <appender-ref ref="console"/>
    </root>
</configuration>